* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  color: #fff;
}

.container {
  max-width: 1000px;
  border: 3px solid white;
  margin-top: 50px;
  margin-left: 30px;
  /* padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px;
  padding: 40px 20px;
}

.box {
  border: 5px dotted white;
  width: 100px;
  height: 100px;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}
